---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Harper Strickland:&ensp;Selected Qualifications</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4 style="color:#006699;">Education</h4>
      </div>
      <div class="col-md-5">
        {% for section in site.data.about.education %}
          <p><b>{{ section.title }}</b><br>
          - {{ section.description }}</p>
        {% endfor %}
      </div>
      <div class="col-md-5">
        <p style="text-align: center;"><img src="{{ site.github.url }}/assets/img/ucsd-grad.jpg" alt="UCSD Graduation" width="70%">
        </p>
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Professional Experience</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.about.experience %}
          <p><b>{{ section.title }}</b><br>
          {{ section.description }}</p>
        {% endfor %}
      </div>
    </div>    
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Core Skills</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.about.skills %}
          <p><b>{{ section.title }}:</b><br>
          - {{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Community Leadership</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.about.leadership %}
          <p><b>{{ section.title }}</b><br>
          {{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
