---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Harper Strickland:&ensp;Projects</h3>
    {% for section in site.data.portfolio.projects %}
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>{{ section.title }}</h4>
      </div>
      <div class="col-md-10">
          <p class="fw-bold">{{ section.tagline }}</p>
          <p style=”padding: 0px; margin: 5px;”>{{ section.description }}</p>
          <p style=”padding: 0px; margin: 0px;”><a href={{ section.link_url }}>{{ section.link_text }}</a></p>
          <br>
      </div>
    </div>  
    {% endfor %}
    Thank you to <a href=https://savethevowels.org>Will Styler</a> for invaluable guidance and feedback throughout project development, on speech processing and corpora.
  </div>
</div>
