---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h3 class="fw-bold border-bottom pb-3 mb-5">Harper Strickland:&ensp;Research</h3>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Interests</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.research.interests %}
          <p><b>{{ section.title }}</b><br>
          - {{ section.description }}</p>
          <br>
        {% endfor %}
      </div>
    </div>    
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h4>Publications</h4>
      </div>
      <div class="col-md-10">
        {% for section in site.data.research.publications %}
          <p class="fw-bold">{{ section.title }}.</p>
          <p style=”padding: 0px; margin: 5px;”>- {{ section.description }}</p>
          <p style=”padding: 0px; margin: 0px;”>{{ section.authors }}. {{ section.source }}, {{ section.date }}. <a href={{ section.url }}>{{ section.url }}</a></p>
          <br>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-12">
        <p style="text-align: center;"><img src="{{ site.github.url }}/assets/img/ucsd-capstone.jpg" alt="UCSD MAS Capstone Cohort in front of Geisel Library" width="70%">
        </p>
      </div>
    </div>    
  </div>
</div>
